/NebulousConquestHelper/bin/
/NebulousConquestHelper/obj/
/SaveFleetState/bin/
/SaveFleetState/obj/
/NebulousConquestHelper/src/data/config.json
/obj/
/bin/
/out/
/.vs/
/scripts/bearer_token.txt
/scripts/config.json
